/* site setting */
*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

:root{
  --site-color:#44023f!important;
  --site-color2:rgb(88, 19, 73);
}

/* navigation bar */
.nav-link{
    color:black;
    font-weight: 400;
}
.nav-link i{
    
    color:var(--site-color2);
}
.siteColor{
    color:var(--site-color)
}
.siteColor2{
    background-color:var(--site-color)!important
}

.btn-site{
    --mdb-btn-bg: var(--site-color)!important;
    --mdb-btn-color: #fff;
    --mdb-btn-box-shadow: 0 4px 9px -4px var(--site-color)!important;
    --mdb-btn-hover-bg: var(--site-color2);
    --mdb-btn-hover-color: #fff;
    --mdb-btn-focus-bg: var(--site-color2);
    --mdb-btn-focus-color: #fff;
    --mdb-btn-active-bg: var(--site-color2);
    --mdb-btn-active-color: #fff;
}
.btn-outline-site {
    --mdb-btn-bg: transparent;
    --mdb-btn-color: var(--site-color);
    --mdb-btn-hover-bg: transparent;
    --mdb-btn-hover-color: var(--site-color2);
    --mdb-btn-focus-bg: transparent;
    --mdb-btn-focus-color: var(--site-color2);
    --mdb-btn-active-bg: transparent;
    --mdb-btn-active-color: #129445;
    border-color: var(--site-color);
}
.nav-link:hover{
    color:black!important
}
.navbar-brand{
    font-size: 1.5rem;
}
/* hero section */
#hero .image{
    width: 25rem;
    height: 25rem;
}



/* card-body */
.card{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card img{
    width: 15rem;
    height: 15rem;

}




/* contact */
.form-control:focus{
    border:1.5px solid var(--site-color)
}

.image-pharmacist{
    width: 20rem;
    height: 20rem;
}



/* =================mobile view screen=========== */

@media  (max-width:600px) {


/* ============index page========= */
    /*--------------------hero section--------- */
       .title{
        text-align: center;
       
       }
       .buttons{
        margin-left:1.5rem
       }
      .image{
        width: 21rem;
        margin-top: 2rem;
      
        height: 21rem;
    }
    

    /*--------------------hero section--------- */


    /*--------------------about section--------- */
    .more,.about-heading,.heading2{
        text-align: center;
    }
    .about-btn{
       margin-left:20%
    }
    /*--------------------about section--------- */




    /*--------------------services section--------- */
    .card{
        width: 20rem;
        margin-left:1rem
    }
    /*--------------------services section--------- */
    
    
/* ============index page========= */



/* =================pharmacisits============= */

.pharmacisit p{
 text-align: center;
 font-style: 12px;
}
/* =================pharmacisits============= */
}